<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZdRLvoyLgLsIBzA6QLna2oZ8Icl9vAVs</string>
	<key>GCM_SENDER_ID</key>
	<string>894696414384</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mobileappdev.AppDevFinalProject</string>
	<key>PROJECT_ID</key>
	<string>focusflow-a89a7</string>
	<key>STORAGE_BUCKET</key>
	<string>focusflow-a89a7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894696414384:ios:50c527fd3e9d1b5d866f75</string>
</dict>
</plist>